/* noinspection ALL */
.root {
  padding-top: rem(120px);
  padding-bottom: rem(120px);
  height: 100%;
  width: 100%;
}

.inner {
  position: relative;
}
/* noinspection ALL */
.content {
  padding-top: rem(220px);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* noinspection ALL */
.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  text-align: center;
  font-weight: 900;
  font-size: rem(38px);
  color: var(--mantine-color-white);
  /* noinspection ALL */
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(32px);
  }

  @mixin light {
    color: var(--mantine-color-black);
  }
}

/* noinspection ALL */
.description {
  max-width: rem(460px);
  margin: var(--mantine-spacing-xl) auto calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-color-blue-1);
}
